configstore
github-copilot
yarn
Code
dconf
google-chrome
evolution/sources
gtk-3.0
ibus/bus
lazygit
libreoffice/4/user
pulse
systemd/user
tiling-assistant
.gsd-keyboard.settings-ported
GNOME-xdg-terminals.list
gnome-initial-setup-done
ubuntu-xdg-terminals.list
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
